.container {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    align-items: center;
    overflow-wrap: normal;
    flex-direction: column;
}

.box {
    display: flex;
    padding-top: 3vh;
}

.box1 {
    background-color: black;
    opacity: 85%;
    height: 70vh;
    width: 35vw;
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.box2 {
    background-color: black;
    opacity: 85%;
    height: 70vh;
    width: 25vw;
    color: white;
    display: flex;
    align-items: center;
}

.box1 h1 {
    font-size: "3rem";
    height: "auto";
    max-height: "50vh";
    line-height: "1.2";
    display: "flex";
    justify-content: "center";
    overflow: "hidden";
    white-space: "pre-wrap";
    overflow-wrap: "break-word";
}

.city {
    margin-top: 5vh;
}

.temperature {
    font-size: 14vh;
    padding-bottom: 2vw;
    flex: 0 0 50%;
    align-self: center;
}

.weathericon {
    flex: 0 0 50%;
}

.min-max {
    font-size: 3vh;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 0 0 100%
}

.table1 {
    margin-right: 5vw;
}

.feels {
    font-size: 3vh;
}

.weather {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.search {
    background-color: white;

}

.search:hover {
    background-color: black;
}

.search i {
    color: black;
}

.search:hover i {
    color: white;
}

.loading {
    min-height: 100vh;
    align-items: center;
}

.loadingbox {
    height: 80vh;
    width: 60vw;
    background-color: black;
    display: flex;
    opacity: 85%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-1-h3 {
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.loading-2-h3 {
    color: white;
    margin-left: 5vw;
    margin-right: 5vw;
}

.loader {
    height: 50vh;
}

.searchbar-box {
    display: flex;
}

.searchbar-box input {
    width: 30vw;
}

.footer {
    margin-top: 1vh;
    color: white;
}

.footer h6 {
    font-weight: 100;
}

.footer span {
    font-weight: 600;
}

.footer a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

@media screen and (max-width: 967px) {
    .box1 {
        width: 40vw;
    }

    .box2 {
        width: 30vw;
    }
}

@media screen and (max-width: 425px) {
    .box {
        flex-direction: column;
    }

    .box1 {
        width: 70vw;
        height: auto;
    }

    .box2 {
        width: 70vw;
        align-items: center;
        height: auto;
    }

    .table1 {
        margin-right: 2vw;
        margin-left: 2vw;
    }

    .city {
        margin-top: 0;
    }

    .searchbar-box input {
        width: 50vw;
    }

    .searchbar-box {
        margin-top: 5vh;
    }

    .loadingbox {
        width: 70vw;
        height: 85vh;
    }

    .loader {
        height: 40vh;
    }
}

@media screen and (max-width: 325px) {
    .box1 {
        width: 80vw;
    }

    .box2 {
        width: 80vw;
        align-items: center;
    }

    .loadingbox {
        width: 80vw;
        height: 85vh;
    }
}